[submodule "compiler"]
	path = compiler
	url = ../beskid_compiler.git
	fetchRecurseSubmodules = true
[submodule "pckg"]
	path = pckg
	url = ../beskid_pckg.git
[submodule "references/bsharp"]
	path = references/bsharp
	url = https://github.com/pmikstacki/bsharp.git
	# Inactive by default: nested roslyn_testing/roslyn_repo is huge and breaks shallow Coolify clones.
	active = false
	fetchRecurseSubmodules = false
[submodule "beskid_vscode"]
	path = beskid_vscode
	url = https://github.com/Cyber-Nomad-Collective/beskid_vscode.git
[submodule "beskid_templates"]
	path = beskid_templates
	url = https://github.com/Cyber-Nomad-Collective/beskid_templates.git
[submodule "beskid_tracker"]
	path = beskid_tracker
	url = https://github.com/pmikstacki/beskid_tracker.git
[submodule "beskid_nexus"]
	path = beskid_nexus
	url = https://github.com/Cyber-Nomad-Collective/beskid_nexus.git
