[submodule "compiler"]
	path = compiler
	url = https://github.com/Cyber-Nomad-Collective/beskid_compiler.git
	fetchRecurseSubmodules = true
[submodule "pckg"]
	path = pckg
	url = https://github.com/Cyber-Nomad-Collective/beskid_pckg.git
